:root {
    --primary-bg-color: #f4f4f4;
    --text-color: #333;
    --main-bg-color: #FF76CE;
    /* --main-text-color: #fff; */
    --main-btn-bg-color: #FF76CE;
  }
  
  body,
  h1,
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: var(--primary-bg-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
    
  .container {
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  
  /* 
  I chose this font for the header as it seems very arts and crafty which suits the video
  of the person making a windwill. I also changed the main background colour to a bright
  pink which suits my arts and craft theme. */

  header {
    background-color: var(--main-bg-color);
    color: #A3D8FF;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    font-family: "Seymour One", sans-serif;
    font-size: 3rem;
  }

  
  h2 {
    padding: 1rem;
    font-family: "Barlow", sans-serif;
    font-size: 2rem;
    text-align: center;
  }

  /* For the list I have made the font barlow as it is an easy to read but also a nice
  font to read. I have removed the dotpoints from the list and made it to be a grid 
  so that it is nicely placed rather than it going straight down. */
  ul {
    font-family: "Barlow", sans-serif;
    font-size: 1.1rem;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    text-align: center;
  }
  
  /* I have changed the colour and font of my timeline buttons to match my theme. I have 
  removed the border for each button */
  .timeline button {
    background-color: #A3D8FF;
    font-family: "Barlow", sans-serif;
    font-size: 1.1rem;
    color: #FF76CE;
    border: none;
    padding: 5px; 
    margin: 10px;
  }

  .media-player {
    width: 100%;
    margin: 0 auto;
  }
  
  .media-player video {
    width: 100%;
    padding: 1rem;
  }
  
  .custom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    width: 100%;
  }
  
  .custom-controls button {
    background-color: var(--main-btn-bg-color);
    color: var(--main-text-color);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  /* For the progress bars I have changed the colours to match the theme */
  .progress-bar {
    width: 100%;
    height: 10px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #A3D8FF;
  }
  
  .progress-bar span {
    display: block;
    height: 100%;
    background-color:#FF76CE;
    width: 0;
    transition: width 0.3s ease;
  }
  
  /* Footer styling */
  footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-family: "Barlow", sans-serif;

  }
