h1 {
  color: pink;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 1rem;
}



.body {
  background-color: blue;
  display: flex;
  
}


.outer {
    border: 2px dashed #e5e5cb;
    min-width: 400px;
    min-height: 200px;
    padding: 10px;
    display: grid;
    gap: 1rem;
    margin: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    align-content: center;
  }
  
  .inner {
    background-color: pink;
    width: 350px;
    min-height: 100px;
    margin: 20px auto;
    border: 2px solid pink;
    padding: 10px;
    /* line-height: 80px; */
    text-align: center;
  }
  
  
  p > strong {
    color: aqua;
    display: block;
    padding: 10px;
  }

  
  