/* This is the styling for the header and top section. It is simple and plain so users
will focus more on the clothes rather than the aesthetics of the website */

.outer {
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* I have chosen this font as it is simple and easily readable which suits
this e-commerce website */
header {
    font-size: 3rem;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    padding: 2rem;
}

/* This is the box for the search bar which is a plain black colour */
.search-bar {
    border: 2px solid black;
    padding-right: 50rem;
  }


  /* I added this div around the button to ensure the dropdown menu
  is in the correct position */
  .dropdown-menu {
    position: relative;
    display: inline-block;
  }
  
  /* This was to ensure the content of the drop down menu is hidden when
  the icon is not clicked */
  #profile-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 130px;
    border: 1px solid black;
  }
  
  /* I have stuck with the same font for the options in the drop down menu to 
  keep the aesthetic quite simple */
  #profile-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
  }
  
  /* This is so users are aware when they are hovering an option in the drop 
  down menu. I made this grey so it does not stand out too much and goes with the
  black and white aesthetic */
  #profile-content a:hover {
    background-color: rgb(190, 190, 190);
  }
  
  #profile-content.show {
    display: block;
  }

      /* ------------------------------------------ */

  /* The section below lets viewers know they have no items in the cart when it is clicked
  The colours and font remain the same*/

  .empty-cart {
    position: relative;
    display: inline-block;
  }
  
  #cart-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 130px;
    border: 1px solid black;
    min-height: 7.5rem;
  }
  
  #cart-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
  }
  
  #cart-content.show {
    display: block;
  }

    /* ------------------------------------------ */

/* This is the styling for the category section on the left. The text and border
is simply black and the front is also the same. I also removed the dotpoints in the list */
.categories {
  border: 2px solid black;
  padding: 1.7rem;
  height: 40rem;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  float: left;
}

ul {
  list-style-type: none;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

ul li {
  margin-bottom: 10px;
}

li > strong {
  display: block;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 2rem;

}

    /* ------------------------------------------ */


  /* This is the styling for the images*/
.items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 2rem;
    border: none;
    padding: 3rem;
    max-width: fit-content;
    float: center;
}

/* This makes the images to be larger when the user hovers over an image. It allows
them to have a closer look at the clothes on display. The font for the description of
the items and the pricing is also the same */
  button:hover {
    scale: 1.5;
  }

  button {
    border: none;
    cursor: pointer;
  }

  p {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.6rem;
    font-size: 15px;
    text-align: left;

  }

  p > span {
    display: block;
    padding-top: 5px;
    font-weight: lighter;
  }

  footer {
    text-align: center;
    padding-bottom: 2rem;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
  }

